html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
}

.fullscreen{
    width: 100%;
    height: 100vh;
}

.fullheight{
    height: 100vh;
}

.halfscreen{
    width: 50%;
    height: 100%;   
}

.flex{
    display: flex;
}

.flex-direction-column{
    flex-direction: column;
}

.jusitify-content-space-between{
    justify-content: space-between;
}

.jusitify-content-flex-end{
    justify-content: flex-end;
}


.align-self-end{
    align-self: flex-end;
}

.align-self-center{
    align-self: center;
}

.bg-grey1{
    background-color: #000000;
    background: radial-gradient(circle at bottom, rgba(255,118,208,1) -1%, rgba(0,0,0,1) 80%);
}

.bg-grey2{
    background-color: #201F1F;
}

.circle{
    clip-path: circle(37%);
}

.bg-pink{
    background-color: #FF76D0;
    
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.blur{
    backdrop-filter: blur(400px);
}

.padding-top400{
    padding-top: 400px;
}

.padding-bottom220{
    padding-bottom: 220px;
}

.padding-left30{
    padding-left: 30px;
}

.font-6rem{
    font-size: 6rem;
}

.font-white{
    color: #EAE1E1;
}

.font-pink{
    color:#FF76D0;
}

.font-chakra{
    font-family: 'Chakra Petch', sans-serif;
}

.padding-top180{
    padding-top: 180px;
}

.padding-top300{
    padding-top: 300px;
}

.padding-rigth30{
    padding-right: 30px;
}

.pading-left100{
    padding-left: 100px;
}

.letter-spacing5{
    letter-spacing: 10px;
}

.margin-top400{
    margin-top: 400px;
}

.text-shadow-pink{
    text-shadow: 4px 2px 5px #FF76D0;
}

.bg-img{
    background:url("img/Rectangle 4.svg") no-repeat -10% 100% #201F1F;
}